
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --color-primary: #1743e3;
    --color-white: #eaeaea; 
    --color-dark: #333; 
    --color-black: #222; 
}
.btn{
    width: 620px;
   /*max-width: 200px;*/
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    color: var(--color-white);
    transition: .4s ease;
    opacity: 0;
    animation: logoAni 1s ease forwards; 
    animation-delay: 1.3s;
}

.btn:hover{
    background: transparent;
    color: var(--color-primary);
}
@media only screen and (max-width: 900px) {
    .btn {
        max-width: 200px; 
    }
}

.container{
    max-width: 1620px;
    width: 90%;
    margin: 0 auto;
}
/*-------------------Mises en style de la bare de navigation -------------------*/
.move_down{
    transform: translateY(30%);
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}
.hamburger{
    display: none;
}
.nav_bar ul{
    display: flex;
}
.nav_bar ul li a{
    display: block;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav_bar ul .btn_login{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    cursor: pointer;
}
.nav_bar ul .btn_login:hover{
    color: #ffffff;
   background: #1743e3;
}
.nav_bar ul li a:hover{
   color: #ffffff;
    background: #1743e3
}
.nav_bar ul li a.active{
    color: #ffffff;
    background: #1743e3
}
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
    
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
    
}
@media only screen and (max-width: 900px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        margin: 6px 0;
    }
    .nav_bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav_bar.acitve{
        height: 250px;
    }
    .nav_bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav_bar.acitve ul{
        opacity: 1;
    }
    .nav_bar ul li a{
        margin-bottom: 12px;
        
    
    }
}
/*-----------------------Fin du Mises en style de la bare de navigation------- */


/* .......................Mise en style du Section Header...................... */
header{
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 60px;
}

.header-left p{
    max-width: 620px;
    /*position: relative;*/
}

.header-left h1{
    font-size: 30px;
    line-height: 1.2;
    color: rgb(189, 245, 255);
    animation: H1Ani forwards 1s ease;  
    opacity: 0;    
    animation-delay: 1s;  
}
.header-left h3{
    font-size: 40px;
    font-weight: 400;
    color: var(--color-primary);
    margin-top: .5rem;
    animation: H1Ani forwards 1s ease;  
    opacity: 0;    
    animation-delay: .8s;  
}
.header-left p{
    margin: 15px 0 30px;
    line-height: 150%;
    font-size: 16px;
    animation: logoAni forwards 1s ease;  
    opacity: 0;    
    animation-delay: .6s; 
}
.header-container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center; 
    height: 100%; 
    justify-content: space-between;
}
.header-right{
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
    right: -7%;   
}

/* le rectangle bleu */
.sq-box{
    height: 100%;
    width: 100%;
    border: 25px solid var(--color-primary);
    background: var(--color-white);
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2) ;
    opacity: 0;
    animation: zoomOut 1s ease forwards; 
    animation-delay: 1.3s;
} 

/**voiture */
.sq-box img{
    position: absolute;
    transform: rotate(-45deg);
    max-width: 700px;
    top: 130px;
    left: -180px;
    opacity: 0;
    animation: carAni forwards 1s ease;
    animation-delay: 1.6s;
}
.sq-box2{
    position: absolute;
    width: 700px;
    height: 700px;
    background: var(--color-primary);
    transform: rotate(45deg);
    top: -26%;
    right: -26%;
    z-index: -1;
    opacity: 0;
    animation: sqbox2Ani forwards 1s ease;
    animation-delay: .3s;
}
@media only screen and (max-width: 900px) {
    .sq-box{
        transform: translateY(40%);
    }
    .header-left h3{
        color: #000000;
    }

}
/* .......................Fin de Mise en style du Section Header...................... */



/* .......................Animation de transition...................... */
@keyframes logoAni {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }    
    100%{
        transform: translateX(0);
        opacity: 1;
    }    
}
@keyframes NavliaAni {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }    
    100%{
        transform: translateY(0);
        opacity: 1;
    }    
}
@keyframes socialAni {
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }    
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }    
}
@keyframes H1Ani {
    0%{
        transform: translateY(-100px) ;
        opacity: 0;
    }    
    100%{
        transform: translateY(0) ;
        opacity: 1;
    }    
}
@keyframes zoomOut {
    0%{
        transform:scale(1.1) ;
        opacity: 0;
    }    
    100%{
        transform: scale(1) ;
        opacity: 1;
    }    
}
@keyframes carAni {
    0%{
        transform: translate(180px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }    
    100%{
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }    
}
@keyframes sqbox2Ani {
    0%{
        right: -40%;
        opacity: 0;
    }    
    100%{
        right: -26%;
        opacity: 1;
    }    
}

/* .......................fin Animation de transition...................... */


/*************************Mise en style de la section**************************************/
.sec {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec h1 {
    margin-bottom: 40px;
    margin-top: 0;
}

.mes_Carte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.mes_Carte span{
    color: #000000;
}

.card {
    width: 300px;
    border: 1px solid #6b2626;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    margin-right: 20px; 
}

.card-image-container {
    overflow: hidden;
    border-bottom: 1px solid #6b2626;
    position: relative; 
}

.card.icons {
    position: absolute;
    top: 0;
    right: 0;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    margin-top: 0;
    color: #11101b;
}

.card-description {
    color: #ffffff;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .mes_Carte {
        justify-content: flex-start;
        margin-left: 0; 
    }

    .card {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px); 
    }
}

/* Styles sur les carte de destination */
.popular-destinations-header {
    margin-bottom: 20px;
}

.destination-title {
    font-size: 20px;
    font-weight: bold;
    
}
.des-title{
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination-image{
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    position: relative; 
}
.scroll-container {
    display: flex;
    top: 0;
    right: 0;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}

.prev-button,
.next-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.card-destination {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 3px 1px 1px #333;
}

.card-destination img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: center;
}
.destination-content{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.destination-link {
    text-decoration: none;
    color: inherit;
}


.card-content {
    padding: 15px;
}

.destination-title {
    font-weight: bold;
    margin: 0;
}

.car-type-info {
    margin: 0;
}

.price-info {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.info-label {
    font-size: 14px;
    font-weight: bold;
}

.price-amount {
    font-size: 18px;
    font-weight: bold;
}

.price-unit {
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .card-destination {
        width: calc(50% - 20px); /* A partir de 1024px de large, chaque carte prendra la moitié de la largeur de l'écran */
    }
}

@media screen and (max-width: 768px) {
    .card-destination {
        width: calc(100% - 20px); /* À partir de 768px de large, chaque carte occupera la totalité de la largeur de l'écran */
    }
}
/***********************************fin de la mise en style de la setion sec *******************************************/


/************************Mise en style de la page Mon Compte*************/
#sec_mon_cmpt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease ,height .2s ease;

}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .from_box{
    width: 100%;
    padding: 40px;
}
.wrapper .from_box.login{
    transition: transform .18s ease;
    transform: translateX(0) ;
}
.wrapper.active .from_box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .from_box.resister{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .from_box.resister{
    transition: transform .18s ease;
    transform: translateX(0) ;
}

.wrapper .icon_close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #bcb9e3;
    font-size: 2em;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.from_box h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
.input_box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f5f5ff;
    margin: 30px 0;
}
.input_box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input_box input:focus~label,
.input_box input:valid~label{
    top: -5px;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input_box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;  
    color: #ffffff;
    line-height: 57px ;
}

.remmenber_forgot{
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remmenber_forgot label input{
    accent-color: #ffffff;
    margin-right: 3px;
}
.remmenber_forgot a{
    color: blue;
    text-decoration: none;
}
.remmenber_forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #11101b;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #fefefe;
}
.login_register{
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login_register p a {
    color: blue;
    text-decoration: none;
    font-weight: 600;
}
.login_register p a:hover{
    text-decoration: underline;
}
/************************Fin du Mise en style de la paage Mon Compte*************/

/************** Mise en style CalculatorPage***************************/
.hiddenradio [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .hiddenradio [type=radio] + img {
    cursor: pointer;
  }
  
  .hiddenradio [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
  
#HeaderSimulator {
    color: #003b4d;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    line-height: 27.5px;
    margin-bottom: 22px;
    margin-top: 0;
    text-transform: uppercase;
}
#overlay-simulator{
    color: white;
    font-family: Copperplate;
    font-size: 20px;
    
}
body {
    margin-left: 0px;
    animation: H1Ani forwards 1s ease;  
    animation-delay: 1s;
    position: relative;
    background-image: url('logos/carComparateur.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}
body #overlay-simulator legend {
    font-size: 1.8em;
    font-family: Copperplate;
    padding-top: 50px;
    font-weight: bold;
    color: #1b00ce;
}
footer {
    background-color: #383838; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

.footer_Copyright {
    font-size: 12px; 
}

.footer_Copyright .Copyright {
    color: #37b9f5; 
}
#priceComparisonChart {
    width: 100px;
    height: 100px;
}
#refreshButton{
    display: block;
    background-color: #719fee;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#refreshButton:hover{
    background-color: #ffffff;
    border: 2px solid #1f69ec;
    box-shadow: 10px 5px 5px #719fee;
    color: #1f69ec;
    text-align: center;
    font-size: 22px;
}

#resetButton{
    display: block;
    background-color: #719fee;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#resetButton:hover{
    background-color: #ffffff;
    border: 2px solid #1f69ec;
    box-shadow: 10px 5px 5px #719fee;
    color: #1f69ec;
    text-align: center;
    font-size: 22px;
}
#affichage {
   background-color: #335d69;
    backdrop-filter: blur(10px); 
    padding: 20px; 
}

/***************************************************************************/
.tailleVehicule{
    display: flex;
    justify-content: center;
}
.tailleVehicule label{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #353349;    
}
/***************************************************************************/
.div_option_abonnement{
    display: flex;
    justify-content: center;
}
.div_option_abonnement div{
    margin: 30px;
}
.div_option_abonnement label{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #353349; 
}
/***************************************************************************/
.div_start_end_date_time{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.div_start_end_date_time label{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #353349;   
}
.div_start_end_date_time input{
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 15px;
}
/***************************************************************************/
.div_p_out_distance{
    display: flex;
    justify-content: center;
}
.div_p_out_distance p{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #353349;
}
.div_p_out_distance input{
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 10px; 
    
}
/***********************ciTiz********************************/
.btn_affiche_prix_citz{
    display: block;
    right: 2px;
    background-color: #719fee;
    border-radius: 10px;
    color: #bcb9e3;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;   
}
.btn_affiche_prix_citz:hover{
    background-color: #ffffff;
    border: 2px solid #1f69ec;
    box-shadow: 10px 5px 5px #719fee;
    color: #1f69ec;
    text-align: center;
    font-size: 22px;
}
.div_p_out_btn_citiz{
    display: flex;
    justify-content: center;
}
.div_p_out_btn_citiz p{
    text-align: center;
    padding-top: 15px;
    color: #353349;
}
.div_p_out_btn_citiz output{
    text-align: center;
    padding-top: 12px;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #bcb9e3;
}
/********************LeOgo********************************/
.btn_affiche_prix_leoGo{
    display: block;
    right: 2px;
    background-color: #719fee;
    border-radius: 10px;
    color: #bcb9e3;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}.btn_affiche_prix_leoGo:hover{
    background-color: #ffffff;
    border: 2px solid #1f69ec;
    box-shadow: 10px 5px 5px #719fee;
    color: #1f69ec;
    text-align: center;
    font-size: 22px;
}
.div_p_output_btn{
    display: flex;
    justify-content: center;
}
.div_p_output_btn p{
    text-align: center;
    padding-top: 15px;
    color: #353349;
}
.div_p_output_btn output{
    text-align: center;
    padding-top: 12px;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #bcb9e3;
}
/****************************************************/
.btnAfficheReset{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/****************************************************/


/****************************************************/

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
/****************************************************/
